body {
    background-image: url(../../images/background/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-background {
    display: inline-block;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vh;
    width: 1600px;
}

@media (max-width: 1700px) {
    .main-background {
        width: 1400px;
    }
}

@media (max-width: 1500px) {
    .main-background {
        width: 1200px;
    }
}

@media (max-width: 1300px) {
    .main-background {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    .main-background {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .main-background {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .main-background {
        width: 400px;
    }
}

@media (max-width: 460px) {
    .main-background {
        width: 90%;
    }
}

