main > section > .btn {
    display: inline-block;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-image: linear-gradient(to bottom right, #1e0036, #d802ee);
    border: none;
    color: var(--secondary-color);
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 2px 8px #0002;
    text-transform: uppercase;
    margin: 15px 0;
    
}


main > section > .btn:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #d802ee, #1e0036);
    transition: all 1s;
}