main {
    text-align: center;
}

main > hero > .logo {
    width: 280px;
    padding: 30px 0;
}

main > section > .text {
    color: #001d8d;
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-weight: 400;
}